# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Yarn
.yarn/
.pnp.*

# Dotenv file
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
